{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    {% if debug %}
    <link rel="icon" href="{% static 'favicon-dev.ico' %}" type="image/x-icon" />
    {% else %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    {% endif %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
  </head>
  <body>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  </body>
</html>
