# run `pip-compile --upgrade` to generate requirements.txt with latest

# python-dateutil
# requests
django
dj-database-url
djangoql
# postgres
psycopg[binary]
# for serving production
gunicorn
# for static files
whitenoise
# for backups to amazon s3
boto3
# advanced python scheduler for backups
apscheduler
# html sanitizer (0.2.19 changed to url_schemes= clean attrib)
nh3>=0.2.19

# https://github.com/niklasf/python-chess/
chess

# test
pytest
pytest-cov
pytest-django
# time-machine

# utils
black
django-extensions
flake8
flake8-bugbear
flake8-builtins
flake8-commas
flake8-comprehensions
isort
ipdb
ipython
pip-tools
# monitor local static files and restart
watchdog
