# run `pip-compile --upgrade` to generate requirements.txt with latest
# (on work machine, may need export PIP_INDEX_URL=https://pypi.org/simple)

# python-dateutil
# requests
django
dj-database-url
# postgres
psycopg[binary]
# for serving production
gunicorn
# for static files
whitenoise

# https://github.com/niklasf/python-chess/
chess

# test
pytest
pytest-cov
pytest-django
# time-machine

# utils
black
django-extensions
flake8
flake8-bugbear
flake8-builtins
flake8-commas
flake8-comprehensions
isort
ipdb
ipython
pip-tools
# monitor local static files and restart
watchdog
