body {
  background-color: #222222;
  color: #eeeeee;
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-top: 20px;
}

button {
  background-color: #111111;
  color: #eeeeee;
  border: 1px solid #444444;
  font-size: 24px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #444444;
}
