{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Chesser{% endblock %}</title>
    {% if debug %}
    <link rel="icon" href="{% static 'icons/favicon-dev.ico' %}" type="image/x-icon" />
    {% else %}
    <link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon" />
    {% endif %}
    <!-- prettier-ignore -->
    {% block head_extra %}{% endblock %}
    <link href="{% static 'css/chesser.css' %}" rel="stylesheet" />
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <meta name="theme-color" content="#000000" />
  </head>
  {% block content %}{% endblock %}
</html>
