{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link
      href="{% static 'chessground/chessground.base.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'chessground/chessground.brown.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'chessground/chessground.fantasy.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'css/chesser.css' %}" rel="stylesheet" />
  </head>
  <body x-data="editApp()" x-init="initChessground()">
    <div id="container">
      <div id="resizable-board">
        <div id="board"></div>
        <div id="resize-handle"></div>
      </div>
      <div x-text="status" class="status"></div>
      <div class="button-container">
        <button @click="analysisBoard()" title="Open in lichess analysis board">
          🔍️
        </button>
        <button @click="restartQuiz()" title="Restart the review">🔄</button>
        <button title="Show/hide variation info">👁️</button>
        <button
          @click="showQuizMove()"
          title="Show the correct move (fails the review)"
        >
          💣️
        </button>
        <button title="Edit variation">⚙️</button>
        <button title="View variation">📖</button>
        <button @click="window.location.href='/'" title="Go home">🏠️</button>
        <button x-show="completed" @click="nextQuiz()" title="Next">➡️</button>
      </div>
    </div>

    <!-- Pass editData safely to JavaScript -->
    <script>
      window.editData = JSON.parse("{{ edit_data|escapejs }}");
      console.log("edit data loaded:", window.editData);
    </script>

    <script type="module">
      import { editApp } from "{% static 'js/edit.js' %}";
      window.editApp = editApp;
      console.log("editApp loaded");

      document.addEventListener("alpine:init", () => {
        console.log("alpine.js initializing");
        Alpine.data("editApp", editApp);
      });
    </script>
    <script src="{% static 'js/resize.js' %}"></script>

    <!-- Load alpine.js LAST -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"
    ></script>
  </body>
</html>
