<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}
{% block title %}{{ title|default:"Error" }}{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<body style="text-align: center; padding-top: 100px">
  <div>
    <h1 style="font-size: 72px; color: var(--color-headers)">
      {{ heading|default:"Oops" }}
    </h1>
    {% if message %}
    <p style="font-size: 24px; margin-top: -20px">{{ message }}</p>
    {% endif %}
    <!-- prettier-ignore -->
    {% if subtext %}
    <p style="color: #aaa; font-style: italic">{{ subtext }}</p>
    {% endif %}
    <div class="button-container" style="margin-top: 40px">
      <button
        title="Home"
        onclick="window.location.href = '/'"
        class="image-button book-cover book-cover-round"
      >
        <img src="{% static 'images/chesser-logo-192x192.png' %}" alt="Chesser Logo" />
      </button>
    </div>
  </div>
</body>
{% endblock %}
