{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Import/Export</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link href="{% static 'css/chesser.css' %}" rel="stylesheet" />
  </head>
  <body x-data="importApp()" x-init="init()" x-cloak>
    <div class="button-container">
      <button
        title="Home"
        @click="window.location.href='/'"
        class="icon-home icon-button"
      ></button>
      <button
        title="Review"
        @click="window.location.href='/review/'"
        class="icon-review icon-button"
      ></button>
    </div>

    {% if messages %}
    <ul class="import-status">
      {% for message in messages %}
      <li class="message {{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="import-page-container form-standard">
      <h2 style="color: orange">Import Variation</h2>
      <form method="POST" action="{% url 'import_json' %}">
        {% csrf_token %}

        <div>
          <label for="chapter">Chapter:</label>
          <select name="chapter_id" id="chapter">
            <template x-for="chapter in chapters" :key="chapter.id">
              <option :value="chapter.id" x-text="chapter.label"></option>
            </template>
          </select>
        </div>

        <div>
          <label for="variation_title">Variation Title:</label>
          <input
            type="text"
            name="variation_title"
            x-model="formDefaults.variation_title"
            class="variation-title-input"
          />
        </div>

        <div>
          <label for="start_move">Start Move:</label>
          <input
            type="text"
            name="start_move"
            x-model="formDefaults.start_move"
            class="start-move-input"
          />
        </div>

        <div>
          <label for="next_review_date">Next Review Date:</label>
          <input
            type="date"
            name="next_review_date"
            id="next_review_date"
            x-model="formDefaults.next_review_date"
          />
        </div>

        <div>
          <label for="json_data">JSON:</label><br />

          <div style="position: relative">
            <button
              type="submit"
              class="icon-import icon-button big-icon"
              style="position: absolute; top: 6px; right: 10px; z-index: 10"
              title="Import"
            ></button>

            <textarea
              name="json_data"
              id="import-json-text-area"
              x-model="formDefaults.json_data"
              rows="20"
              placeholder="Paste your JSON here..."
              required
            ></textarea>
          </div>
        </div>
      </form>
    </div>

    <div class="file-upload-form import-page-container">
      <h3>Upload to /tmp/upload.json</h3>
      <form
        method="POST"
        enctype="multipart/form-data"
        action="{% url 'upload_json_data' %}"
      >
        {% csrf_token %}
        <input type="file" name="uploaded_file" /><br />
        <button type="submit" class="icon-upload icon-button"></button>
      </form>
    </div>

    <div class="export-list import-page-container">
      <h3>Variations Export</h3>
      <ul>
        <li><a href="/variations.tsv/" target="_blank">variations.tsv</a></li>
        <li><a href="/variations-table/" target="_blank">table</a></li>
      </ul>
    </div>

    {% include "includes/landscape_overlay.html" %}

    <script>
      window.importData = JSON.parse("{{ import_data|escapejs }}");
      console.log("importData:", window.importData);
    </script>

    <script type="module">
      import { importApp } from "{% static 'js/import.js' %}";
      window.importApp = importApp;
      document.addEventListener("alpine:init", () => {
        Alpine.data("importApp", importApp);
      });
    </script>

    <script defer src="{% static 'alpine/cdn.min.js' %}"></script>
  </body>
</html>
