{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link href="{% static 'chessground/chessground.base.css' %}" rel="stylesheet" />
    <link href="{% static 'chessground/chessground.brown.css' %}" rel="stylesheet" />
    <link href="{% static 'chessground/chessground.fantasy.css' %}" rel="stylesheet" />
    <link href="{% static 'css/chesser.css' %}" rel="stylesheet" />
  </head>
  <body
    x-data="quizApp()"
    x-init="initQuiz()"
    @keydown.window="handleKeyNavigation($event)"
  >
    <div id="quiz-container" x-cloak>
      <div id="resizable-board" data-board-id="quiz">
        <div id="board"></div>
        <div
          x-show="!hasVariationData()"
          class="board-overlay-home"
          @click="window.location.href='/'"
        >
          🏡
        </div>
        <div id="resize-handle"></div>
      </div>
      <div class="status-and-next">
        <div x-show="completed">
          <button @click="previousMove()" title="Mainline Back">⬅️</button>
          <button @click="nextMove()" title="Mainline Forward">➡️</button>
        </div>
        <div x-html="status" class="status"></div>
        <div x-show="completed">
          <button @click="window.location.href='/review/'" title="Next">📝</button>
        </div>
      </div>
      <div class="button-container" x-show="hasVariationData()">
        <button @click="window.location.href='/'" title="Home">🏠️</button>
        <button
          @click="window.open('https://lichess.org/analysis/standard/' + chess.fen().replace(/ /g, '_') + '?color=' + variationData.color, '_blank')"
          title="Lichess analysis board"
        >
          🧮
        </button>
        <button @click="restartQuiz()" title="Restart">🔄</button>
        <button @click="showInfo = !showInfo" title="Info">👁️</button>
        <button @click="showQuizMove()" title="Show move">💣️</button>
        <button
          @click="window.location.href='/edit/' + (variationData.variation_id || 1)"
          title="Edit"
        >
          🛠️
        </button>
        <button @click="gotoVariationView()" title="View">📚️</button>
      </div>

      <p x-text="reviewStats"></p>
      <a
        href="#"
        x-show="reviewData.total_due_now && ! reviewData.extra_study"
        @click.prevent="resetReviewSession()"
      >
        reset session
      </a>
      <div id="dev-indicator">local/dev</div>
      <div x-show="showInfo && variationData.title" class="info-container">
        <div class="chapter-title">
          <a
            :href="'/course/' + variationData.course_id + '/chapter/' + variationData.chapter_id + '/'"
            ><span x-text="variationData.chapter"></span
          ></a>
          <span> ➤ </span>
          <span x-text="variationData.title"></span> (#<span
            x-text="variationData.variation_id"
          ></span
          >)
        </div>
        <div class="variation-state-info">
          <span x-show="completed" x-text="'Level ➤ ' + variationData.level"></span
          >&nbsp;&nbsp;&nbsp;
          <span
            x-show="completed"
            x-text="'Last ➤ ' + variationData.time_since_last_review"
          ></span>
        </div>
        <div
          x-show="completed"
          x-text="variationData.mainline"
          class="mainline-moves"
        ></div>
      </div>

      <template x-if="showInfo && completed && finalMove().text">
        <div class="final-move">
          <h3 x-text="finalMove().move_verbose"></h3>
          <p x-text="finalMove().text"></p>
        </div>
      </template>
    </div>

    <div
      x-data="{ show: false, resolve: null }"
      x-show="show"
      x-cloak
      id="promotion-modal"
      class="modal-overlay"
      @promotion="(e) => { show = true; resolve = e.detail }"
    >
      <div class="modal-box">
        <div class="promotion-options">
          <button @click="resolve('q'); show = false">Queen ♛</button>
          <button @click="resolve('r'); show = false">Rook</button>
          <button @click="resolve('b'); show = false">Bishop</button>
          <button @click="resolve('n'); show = false">Knight</button>
        </div>
      </div>
    </div>

    {% include "includes/landscape_overlay.html" %}

    <script>
      window.variationData = JSON.parse("{{ variation_data|escapejs }}");
      window.reviewData = JSON.parse("{{ review_data|escapejs }}");
      console.log("variationData:", window.variationData);
      console.log("reviewData:", window.reviewData);
    </script>

    <script type="module">
      import { quizApp } from "{% static 'js/quiz.js' %}";
      window.quizApp = quizApp;
      document.addEventListener("alpine:init", () => {
        Alpine.data("quizApp", quizApp);
      });
    </script>

    <script src="{% static 'js/resize.js' %}"></script>
    <script defer src="{% static 'alpine/cdn.min.js' %}"></script>
  </body>
</html>
