<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}

{% block title %}Review{% endblock %}
{% block head_extra %}
<link rel="preload" href="{% static 'icons/noto-emoji/variation.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/edit.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/analysis.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/restart.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/info.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/showmove.svg' %}" as="image" />
<link href="{% static 'chessground/chessground.base.css' %}" rel="stylesheet" />
<link
  href="{% static 'chessground/chessground.'|add:CHESS_BOARD_COLOR|add:'.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'chessground/chessground.'|add:CHESS_PIECE_SET|add:'.css' %}"
  rel="stylesheet"
/>
<link href="{% static 'chessground/chessground.overrides.css' %}" rel="stylesheet" />
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<body
  x-data="quizApp()"
  x-init="initQuiz()"
  @keydown.window="handleKeyNavigation($event)"
>
  {% include "includes/loading_overlay.html" %}

  <div id="quiz-container">
    <div id="resizable-board" data-board-id="quiz">
      <div id="board"></div>
      <template x-if="!hasVariationData()">
        <button
          title="Home"
          class="board-cover-button button-round"
          @click="window.navigateWithSpinner('/')"
        >
          <img
            src="{% static 'images/chesser-logo-192x192.png' %}"
            alt="Chesser Logo"
          />
        </button>
      </template>
      <div
        id="quiz-complete-overlay"
        x-show="quizCompleteOverlay"
        x-text="quizCompleteOverlay"
        x-cloak
      ></div>

      <div id="resize-handle"></div>
    </div>
    <div class="status-and-next" x-cloak>
      <template x-if="completed">
        <div class="button-container">
          <button
            title="Mainline Back"
            @click="previousMove()"
            class="icon-back icon-button"
          ></button>
          <button
            title="Mainline Forward"
            @click="nextMove()"
            class="icon-forward icon-button"
          ></button>
        </div>
      </template>
      <div x-html="status" class="status"></div>
      <template x-if="completed">
        <div class="button-container">
          <template x-if="reviewData.total_due_now > 0">
            <button
              title="Next"
              @click="window.navigateWithSpinner('/review/')"
              class="icon-review icon-button"
            ></button>
          </template>
          <template x-if="reviewData.total_due_now == 0">
            <button
              title="Finish"
              @click="window.navigateWithSpinner('/review/?finish=1')"
              class="icon-complete icon-button"
            ></button>
          </template>
        </div>
      </template>
    </div>
    <template x-if="hasVariationData()">
      <div class="button-container">
        <button
          title="Home"
          @click="window.navigateWithSpinner('/')"
          class="image-button home-button button-round"
        >
          <img
            src="{% static 'images/chesser-logo-192x192.png' %}"
            alt="Chesser Logo"
          />
        </button>
        <button
          title="Restart"
          @click="restartQuiz()"
          class="icon-restart icon-button"
          :disabled="quizBusy"
        ></button>
        <button
          title="Show Move"
          @click="showQuizMove()"
          class="icon-showmove icon-button"
          :disabled="quizBusy"
        ></button>
        <button
          title="Variation Info"
          @click="showInfo = !showInfo"
          class="icon-info icon-button"
        ></button>
        <button
          title="View"
          @click="gotoVariationView()"
          class="icon-variation icon-button"
        ></button>
        <button
          title="Edit"
          @click="gotoEditView()"
          class="icon-edit icon-button"
        ></button>
        <button
          title="Lichess Analysis Board"
          @click="window.open(variationData.analysis_url + quizMoveIndex, '_blank', 'noopener')"
          class="icon-analysis icon-button"
        ></button>
      </div>
    </template>

    <div id="review-stats" x-html="reviewStats"></div>
    <template x-if="showCounterReset">
      <a href="#" @click.prevent="resetReviewSession()" style="margin-bottom: 5px">
        reset counter
      </a>
    </template>

    <div class="review-section-wrapper">
      <template x-if="showInfo && variationData.title">
        <div class="review-info-container">
          <div class="chapter-title">
            <a
              :href="'/chapters/' + variationData.color + '/' + variationData.chapter_id + '/?id=' + variationData.variation_id"
              ><span x-text="variationData.chapter"></span
            ></a>
            <span> ➤ </span>
            <span
              x-text="variationData.is_intro ? '📌 ' + variationData.title : variationData.title"
            ></span>
            (#<span x-text="variationData.variation_id"></span>)
          </div>
          <div class="variation-state-info">
            <span x-show="completed" x-text="'Level ➤ ' + variationData.level"></span
            >&nbsp;&nbsp;&nbsp;
            <span
              x-show="completed"
              x-text="'Last ➤ ' + variationData.time_since_last_review"
            ></span>
          </div>
          <div
            x-show="completed"
            x-text="variationData.mainline"
            class="mainline-moves"
          ></div>
        </div>
      </template>

      <template x-if="showInfo && completed && reviewData.final_move_html">
        <div class="final-move">
          <p x-html="reviewData.final_move_html"></p>
        </div>
      </template>
    </div>

    <template x-if="!hasVariationData()">
      <div class="button-container button-container-home">
        <button
          title="Random Extra Study"
          @click="window.navigateWithSpinner('/review/random/')"
          class="icon-random icon-button icon-button-big-round"
        ></button>
        <button
          title="Lichess Puzzles"
          @click="window.open('https://lichess.org/training', '_blank', 'noopener')"
          class="icon-puzzles icon-button icon-button-big-round"
        ></button>
      </div>
    </template>

    <template x-if="completed"> {% include "includes/history.html" %} </template>
  </div>

  <div
    x-data="{ show: false, resolve: null }"
    x-show="show"
    x-cloak
    id="promotion-modal"
    class="modal-overlay"
    @promotion="(e) => { show = true; resolve = e.detail }"
  >
    <div class="modal-box">
      <div class="promotion-options">
        <button @click="resolve('q'); show = false">Queen ♛</button>
        <button @click="resolve('r'); show = false">Rook</button>
        <button @click="resolve('b'); show = false">Bishop</button>
        <button @click="resolve('n'); show = false">Knight</button>
      </div>
    </div>
  </div>

  <!-- prettier-ignore -->
  {% include "includes/landscape_overlay.html" %}
  {% include "includes/service_worker_register.html" %}

  <script>
    window.variationData = JSON.parse("{{ variation_data|escapejs }}");
    window.reviewData = JSON.parse("{{ review_data|escapejs }}");
    console.log("variationData:", window.variationData);
    console.log("reviewData:", window.reviewData);
  </script>

  <script type="module">
    import { quizApp } from "{% static 'js/quiz.js' %}";
    import { navigateWithSpinner } from "{% static 'js/loading.js' %}";

    window.quizApp = quizApp;
    window.navigateWithSpinner = navigateWithSpinner;

    document.addEventListener("alpine:init", () => {
      Alpine.data("quizApp", quizApp);
    });
  </script>

  <script src="{% static 'js/resize.js' %}"></script>
  <script defer src="{% static 'alpine/cdn.min.js' %}"></script>
</body>
{% endblock %}
