{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link href="{% static 'chessground/chessground.base.css' %}" rel="stylesheet" />
    <link href="{% static 'chessground/chessground.brown.css' %}" rel="stylesheet" />
    <link href="{% static 'chessground/chessground.fantasy.css' %}" rel="stylesheet" />
    <link href="{% static 'css/chesser.css' %}" rel="stylesheet" />
  </head>
  <body x-data="quizApp()" x-init="initChessground()">
    <div id="quiz-container" x-cloak>
      <div id="resizable-board">
        <div id="board"></div>
        <div id="resize-handle"></div>
      </div>
      <div x-text="status" class="status"></div>
      <div class="button-container">
        <button @click="window.location.href='/'" title="Home">🏠️</button>
        <button
          @click="window.open('https://lichess.org/analysis/standard/' + chess.fen().replace(/ /g, '_') + '?color=' + variationData.color, '_blank')"
          title="Lichess analysis board"
        >
          🔍️
        </button>
        <button @click="restartQuiz()" title="Restart">🔄</button>
        <button @click="showInfo = !showInfo" title="Info">👁️</button>
        <button @click="showQuizMove()" title="Show move">💣️</button>
        <button
          @click="window.location.href='/edit/' + (variationData.variation_id || 1)"
          title="Edit"
        >
          ⚙️
        </button>
        <button @click="gotoVariationView()" title="View">📖</button>
        <button
          x-show="completed"
          @click="window.location.href='/review/'"
          title="Next"
          style="font-size: 40px"
        >
          ➡️
        </button>
      </div>
      <p x-text="reviewStats"></p>
      <a
        href="#"
        x-show="reviewData.total_due_now && ! reviewData.extra_study"
        @click.prevent="resetReviewSession()"
      >
        reset session
      </a>
      <div x-show="showInfo && variationData.title" class="info-container">
        <div class="chapter-title">
          <a
            :href="'/?course=' + variationData.course_id + '&chapter=' + variationData.chapter_id"
            ><span x-text="variationData.chapter"></span
          ></a>
          <span> ➤ </span>
          <span x-text="variationData.title"></span>
        </div>

        <div
          x-show="completed"
          x-text="variationData.mainline"
          class="mainline-moves"
        ></div>
        <div>
          <span x-show="completed" x-text="'Level ➤ ' + variationData.level"></span
          >&nbsp;&nbsp;&nbsp;
          <span
            x-show="completed"
            x-text="'Last ➤ ' + variationData.time_since_last_review"
          ></span>
        </div>
      </div>

      <template x-if="showInfo && completed && finalMove().text">
        <div class="final-move">
          <h3 x-text="finalMove().move_verbose"></h3>
          <p x-text="finalMove().text"></p>
        </div>
      </template>
    </div>

    <script>
      window.variationData = JSON.parse("{{ variation_data|escapejs }}");
      window.reviewData = JSON.parse("{{ review_data|escapejs }}");
      console.log("variation data:", window.variationData);
      console.log("review data:", window.reviewData);
    </script>

    <script type="module">
      import { quizApp } from "{% static 'js/quiz.js' %}";
      window.quizApp = quizApp;
      document.addEventListener("alpine:init", () => {
        console.log("alpine.js initializing");
        Alpine.data("quizApp", quizApp);
      });
    </script>

    <script src="{% static 'js/resize.js' %}"></script>
    <script defer src="{% static 'alpine/cdn.min.js' %}"></script>
  </body>
</html>
