{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link href="{% static 'chessground/chessground.base.css' %}" rel="stylesheet" />
    <link href="{% static 'chessground/chessground.brown.css' %}" rel="stylesheet" />
    <link href="{% static 'chessground/chessground.fantasy.css' %}" rel="stylesheet" />
    <link href="{% static 'css/chesser.css' %}" rel="stylesheet" />
  </head>
  <body x-data="variationApp()" x-init="initVariation()">
    <div id="container">
      <div id="resizable-board">
        <div id="board"></div>
        <div id="resize-handle"></div>
      </div>
      <div x-text="status" class="status"></div>
      <div class="button-container">
        <button @click="window.location.href='/review/'" title="Review">🚀</button>
        <button
          @click="window.open('https://lichess.org/analysis/standard/' + chess.fen().replace(/ /g, '_'), '_blank')"
          title="Lichess analysis board"
        >
          🔍️
        </button>
        <button
          @click="window.location.href='/edit/' + variationData.variation_id"
          title="Edit"
        >
          ⚙️
        </button>
        <button @click="window.location.href='/'" title="Home">🏠️</button>
      </div>
    </div>

    <!-- Pass variationData safely to JavaScript -->
    <script>
      window.variationData = JSON.parse("{{ variation_data|escapejs }}");
      console.log("variation data loaded:", window.variationData);
    </script>

    <script type="module">
      import { variationApp } from "{% static 'js/variation.js' %}";
      window.variationApp = variationApp;
      console.log("variationApp loaded");

      document.addEventListener("alpine:init", () => {
        console.log("alpine.js initializing");
        Alpine.data("variationApp", variationApp);
      });
    </script>
    <script src="{% static 'js/resize.js' %}"></script>

    <!-- Load alpine.js LAST -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"
    ></script>
  </body>
</html>
