{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Variation</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link href="{% static 'chessground/chessground.base.css' %}" rel="stylesheet" />
    <link href="{% static 'chessground/chessground.brown.css' %}" rel="stylesheet" />
    <link href="{% static 'chessground/chessground.fantasy.css' %}" rel="stylesheet" />
    <link href="{% static 'css/chesser.css' %}" rel="stylesheet" />
  </head>
  <body
    x-data="variationApp()"
    x-init="initVariation()"
    @keydown.window="handleKeyNavigation($event)"
  >
    <div id="outer-container">
      <div id="board-container">
        <div id="resizable-board">
          <div id="board"></div>
          <div id="resize-handle"></div>
        </div>
        <div class="button-container">
          <button @click="previousMainlineMove()" title="Mainline Back">⬅️</button>
          <button @click="nextMainlineMove()" title="Mainline Forward">➡️</button>
          <button @click="previousSubvarMove()" title="Subvariation Back">↖️</button>
          <button @click="nextSubvarMove()" title="Subvariation Forward">↘️</button>
        </div>
        <div class="button-container">
          <button
            @click="window.location.href='/review/' + variationData.variation_id"
            title="Review"
          >
            🚀
          </button>
          <!-- board.state.fen will work for either mainline or subvar position -->
          <button
            @click="window.open('https://lichess.org/analysis/standard/' + board.state.fen.replace(/ /g, '_') + '?color=' + variationData.color, '_blank')"
            title="Lichess analysis board"
          >
            🔍️
          </button>
          <button @click="window.location.href='/'" title="Home">🏠️</button>
          <button
            @click="window.location.href='/edit/' + variationData.variation_id"
            title="Edit"
          >
            ⚙️
          </button>
        </div>
        <div class="info-container">
          <div class="chapter-title">
            <span x-text="variationData.chapter"></span>
            <span> ➤ </span>
            <span x-text="variationData.title"></span>
          </div>
          <div x-text="variationData.mainline"></div>
          <div x-text="'Level ➤ ' + variationData.level"></div>
        </div>
        <div id="source" x-html="variationData.source_html"></div>
      </div>
      <div id="variation-text" x-html="variationData.html"></div>
    </div>

    <!-- Pass variationData safely to JavaScript -->
    <script>
      window.variationData = JSON.parse("{{ variation_data|escapejs }}");
      console.log("variation data loaded:", window.variationData);
    </script>

    <script type="module">
      import { variationApp } from "{% static 'js/variation.js' %}";
      window.variationApp = variationApp;
      console.log("variationApp loaded");

      document.addEventListener("alpine:init", () => {
        console.log("alpine.js initializing");
        Alpine.data("variationApp", variationApp);
      });
    </script>
    <script src="{% static 'js/resize.js' %}"></script>

    <!-- Load alpine.js last -->
    <script defer src="{% static 'alpine/cdn.min.js' %}"></script>
  </body>
</html>
