CHESS_PIECE_SET = "fantasy"  # default piece set
CHESS_BOARD_COLOR = "brown"  # default board color

# REPETITION_INTERVALS = {}

# AWS_STORAGE_BUCKET_NAME =
# AWS_S3_REGION_NAME =

# STATS_START_DATE = (2025, 9, 26)

# HEARTBEAT_INTERVAL_HOURS = 1
# BACKUP_INTERVAL_HOURS = 24
# HEARTBEAT_STARTUP_DELAY_MINUTES = 1
# BACKUP_STARTUP_DELAY_MINUTES = 30


