{% load static %}
<div class="landscape-overlay course">
  <div class="course-white landscape-cover">
    <img src="{% static 'images/castle-white.jpg' %}" alt="Castle White" />
  </div>
  <div class="book-cover landscape-cover book-cover-round">
    <img
      src="{% static 'images/kiwen-suwi-dark-knight-512x512.png' %}"
      alt="Opening Book Cover"
    />
  </div>
  <div class="course-black landscape-cover">
    <img src="{% static 'images/castle-black.jpg' %}" alt="Castle Black" />
  </div>
</div>
