<!-- caching on railway is only 60 seconds? let's try... -->
{% load static %}
<link
  rel="preload"
  href="{% static 'images/kiwen-suwi-dark-knight-192x192.png' %}"
  as="image"
/>
<link rel="preload" href="{% static 'icons/noto-emoji/review.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/stats.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/import.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/random.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/variation.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/edit.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/analysis.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/save.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/restart.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/info.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/showmove.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/back.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/forward.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/up.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/upload.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/clone.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/complete.svg' %}" as="image" />
<link rel="preload" href="{% static 'icons/noto-emoji/puzzles.svg' %}" as="image" />
